/* ------------------------------ Custom Colors */
:root {
    /* Electric Pink */
    --pink: #ffa0ff;
    /* Cosmic Cyan */
    --cyan: #00FFFF;
    /* Mystical Purple */
    --purple: #800080;
    /* Transcendent Teal */
    --teal: #008485;
    /* Midnight Teal */
    --teal-dark: #00555C;
    /* Divine Gold */
    --gold: #FFD700;
    /* Energetic Orange */
    --orange: #FFA500;
    /* Onyx Black */
    --black: #000000;
    /* Gun Metal Grey */
    --grey: #6b6b6b;
    /* Silver Blush */
    --silver: #dddddd;
    /* Pearl White */
    --white: #FFFFFF;
}

/* ------------------------------ Hero Section */
.hero-section {
    background-color: var(--pink) !important;
    color: var(--black) !important;
}

/* ------------------------------ Alternating Section Styling */
.section:nth-child(even) {
    background-color: var(--teal);
    color: var(--white);
}

.section:nth-child(odd) {
    background-color: var(--cyan);
    color: var(--black);
}

.section:nth-child(even) h2 {
    border-left: .15em solid orange;
    padding-left: .15em;
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    text-align: left;
}

.section:nth-child(odd) h2 {
    overflow: hidden;
    border-right: .15em solid orange;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    text-align: right;
}

.section img {
    width: 100%;
    max-height: 66vh;
    object-fit: cover;
    margin: 20px 0;
}

.section {
    display: grid;
    grid-template-rows: auto 1fr;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.horizontal-wrapper {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    width: 100%;
    height: 100%;
}

.horizontal-section {
    min-width: 100%;
    min-height: 85vh;
    scroll-snap-align: start;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
}

/* ------------------------------ Custom styling for contact form
form {
    max-width: 600px;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 20px;
}

.btn-primary {
    background-color: var(--orange);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: var(--teal-dark);
} */

/* ------------------------------ Custom styling for navbar */
.navbar {
    margin-left: 0;
    margin-right: 0;
    background-color: var(--black);
}

.nav-link {
    color: var(--white);
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: var(--teal) !important;
}

/* Display section on nav bar */
.active-nav {
    color: #fff;
}

/* ------------------------------ Custom Scrollbar Styles */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: #6f42c1;  /* Purple color */
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: #5a2b96; /* Slightly darker purple for hover effect */
}